# Configuration files with personal settings
config.ini
files/meaning.json

# Virtual environment
venv/
.venv/
env/
.env/
.*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Temporary files
*.srt
temp/
tmp/
.DS_Store
cache/*

# Log files
*.log
*.log.1
*.log.2
*.log.3
logs/

# Distribution / packaging
dist/
build/
*.egg-info/

#More stuff
venv_subtrans

notes.txt

subs/*

translation_progress.json

files/*